/* CSS declarations go here */
h1,h2,h3{

}

p,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}

.antesComment{
  background-color:rgb(120,178,54);
  text-align: center;
  color:white;
  height: 50px;
}

#busqueda{
  background-color: rgb(81,19,55);
}

#botonComments{
    background-color: rgb(85,129,10);
}

.instruction{
  background-color: rgb(120,178,54);
  color:white;
  height: 35px;
  text-align: center;
}

.producto{
  width: 250px;
  height: 200px;
  padding: 15px;
  text-align: center;
  float: left;
  border-bottom: groove;
  border-bottom-color: dimgray;
}

.center {
  text-align: center;
}

.comentarios{
  padding-left: 400px;
}

.comment{
  border: hidden;
  border-radius: 10%;
  width: 100%;
  height:auto;
}

.fav{
  background-color: gray;
  align-content: center;
  align-items: center;
}

.textFav{
  background-color: gray;
  text-align: center;
  align-content: center;
  color:white;
}

.historial{

}

.recomendaciones{
  background-color: rgb(124,184,63);
}
